<div id="wrapper">

  <div id="container">

<div id="content">
  This is the main page body.<BR /><BR><BR />
</div>



<div id="footer">

  <div class="float">
    <span class="title">Most Popular Locations</span><br />
    Add 4 thumbnails here to represent
  </div>

  <div class="float">
    <span class="title"><a href="/photos/search">SEARCH</a></span><br />
    <span class="title">UPLOAD PHOTO</span><br />
  </div>

  <div class="float">
    <span class="title">Educational Usage</span><br />
    This application is designed for adult or student usage that wish to explore the history of Vermont.
  </div>

  <div id="clear">
  </div>

</div>

</div>
    </div>