<div id="wrapper">
  <div id="container">

    <div id="header">
      <h1><a href="/"><%= image_tag 'logo.jpg'%></a></h1>
    </div>

    <div id="nav">
      <ul>
        <li><a href="/">Homepage</a> | </li>
        <li><a href="/photos/search">Search Photos</a> | </li>
        <li><a href="/photos/upload">Upload a Photo</a></li>
      </ul>
    </div>

    <div>
      <%= image_tag 'slide1.jpg' %>
    </div>


<div id="footer">

  <div class="float small12">
    <span class="title">Featured Images</span><br />
    <img src="/assets/hp1.jpg" /><br />
    Essex Junction, VT - 1907 vs. 2004<BR />
  </div>

  <div class="float small12">
    <span class="title"><a href="/photos/search"><img src="/assets/search-button.jpg" /></a></span><br />
    <span class="title"><a href="/photos/upload"><img src="/assets/uploadaphoto.jpg" /></a></span><br />
    <BR /><BR /></div>

  <div class="float small12">
    <span class="title">Educational Usage</span><br />
    This application is designed for Adults and students of any age to reference and learn a little bit about Vermont's photography landscape change and history!  <BR /><BR />Review the uploaded photos with our interactive map and timeline slider technology to easily browse decades of unique photos! Click the Search or Upload a Photo buttons to get started!
  </div>


  <div id="clear">
  </div>

</div>

</div>
    </div>