<div id="wrapper">
    <div id="container">

    <div id="header">
      <h1>Explore Historic Vermont</h1>
    </div>

    <div id="search_page">
        <div id="content">
            <div class="slider_wrapper">
                <div id="time_slider">
                </div>
            </div>

            <div id="map">
            </div>
            <br style="clear:both;"/>
        </div>
    </div>
  </div> <!-- end wrapper -->
</div>