<div id="wrapper">
    <div id="container">

    <div id="header">
      <h1><a href="/"><%= image_tag 'logo.jpg'%></a></h1>
    </div>

    <div id="search_page">
        <div id="content">
            <div class="slider_wrapper">
                <p class="year">1910</p>
                <div id="time_slider">
                </div>
            </div>

            <div id="map">
            <div class="zoom_slider_wrapper">
            <input type='button' value='+' class='qtyplus' field='quantity' />
                <div id="zoom_slider">
                </div>
               <input type='button' value='-' class='qtyminus' field='quantity' />
            </div>
            </div>
            <br style="clear:both;"/>
        </div>
    </div>
  </div> <!-- end wrapper -->
</div>
