<div id="wrapper">

  <div id="container">

    <div id="header">
      <h1>Explore Historic Vermont</h1>
    </div>

    <div id="search_page">
      <div id="content">
        <div id="float-searchleft">
          <span class="title"><a href="/">Home</a> > Search</span>
          <BR /><BR />
          <span class="search-title">Search By Current Location</span><BR />
          <span class="search-title">Search By Zip Code</span> <BR />
          <span class="search-title">Search By County</span>
        </div>
        <div id="map">
          <p>This is a test</p>
          </div>
        </div>
      </div>



      </div> <!-- end wrapper -->
    </div>