<div id="wrapper">
    <div id="container">

    <div id="header">
      <h1><a href="/"><%= image_tag 'logo.jpg'%></a></h1>
    </div>

      <div id="nav">
        <ul>
          <li><a href="/">Homepage</a> | </li>
          <li><a href="/photos/search">Search Photos</a> | </li>
          <li><a href="/photos/upload">Upload a Photo</a></li>
        </ul>
      </div>

    <div id="search_page">
        <div id="content">
            <div class="slider_wrapper">
                <p class="year">1910</p>
                <div id="time_slider">
                </div>
            </div>

            <div id="map">
				<div id="zoom_wrapper" style = "float: right">
					<button id = 'plus'></button>
					<button id = 'minus'></button>
				</div>
            </div>
            <br style="clear:both;"/>
        </div>
    </div>
  </div> <!-- end wrapper -->
</div>
