<div id="wrapper">
  <div id="container">

    <div id="header">
      <h1><a href="/"><%= image_tag 'logo.jpg'%></a></h1>
    </div>

    <div id="nav">
      <ul>
        <li><%= link_to "Home", "/" %> | </li>
        <li><%= link_to "Photo Search", "/photos/search" %> | </li>
        <li class="selected"><%= link_to "Upload a Photo", "/photos/upload" %></li>
      </ul>
    </div>

    <div id="column" class="small10">
      <img src="/assets/vermontfarmer.jpg" /><BR /><BR />
      82 Year Old Farmer, Waitsfield, VT.  Photo captured in 2002.
    </div>
      <div id="column" class="small14 paddleft">
        Upload a Photo for the Archive:<br />
        Enter the following information below to submit your photo.<BR /><BR />
        <div class="small14">
          <table>
            <tr><td>Photo Title: (drop down) </td><td><input name="photo-title" type="text" /></td></tr>
            <tr><td>Photo Description:<BR /><BR /><BR /></td><td><textarea name="description" cols="" rows="4"></textarea></td></tr>
            <tr><td>Year Photo was Taken:</td><td><input name="photo-title" type="text" /></td></tr>
            <tr><td>City:</td><td><input name="photo-title" type="text" /></td></tr>
            <tr><td>County:</td><td><input name="photo-title" type="text" /></td></tr>
            <tr><td>Select Image:</td><td><input name="Browse" type="file" value="Browse" /></td></tr>
          </table>
          <BR />
        </div>
        </div>

        <br style="clear:both"/>

    <div class="submit_it">
      <a href="/photos/thank-you"><img src="/assets/submitphoto.jpg" /></a>
    </div>
      </div>
    </div>