<div id="wrapper">
  <div id="container">

    <div id="header">
      <h1><a href="/"><%= image_tag 'logo.jpg'%></a></h1>
    </div>

    <div id="nav">
      <ul>
        <li><a href="/">Homepage</a> | </li>
        <li><a href="/photos/search">Search Photos</a> | </li>
        <li><a href="/photos/upload">Upload a Photo</a></li>
      </ul>
    </div>

    </div>
    </div>