.q0-9{fill:rgb(247,252,245)}
.q1-9{fill:rgb(229,245,224)}
.q2-9{fill:rgb(199,233,192)}
.q3-9{fill:rgb(161,217,155)}
.q4-9{fill:rgb(116,196,118)}
.q5-9{fill:rgb(65,171,93)}
.q6-9{fill:rgb(35,139,69)}
.q7-9{fill:rgb(0,109,44)}
.q8-9{fill:rgb(0,68,27)}

.towns {
	fill: none;
}

.counties {
	fill: none;
	stroke: #fff;
	stroke-linejoin: round;
}

path {
	stroke: black;
	stroke-width: 1px;
	shape-rendering: cripsEdges
}