.q0-5{fill:rgb(237,248,233)}
.q1-5{fill:rgb(186,228,179)}
.q2-5{fill:rgb(116,196,118)}
.q3-5{fill:rgb(49,163,84)}
.q4-5{fill:rgb(0,109,44)}

.towns {
	fill: none;
}

.counties {
	fill: none;
	stroke: #fff;
	stroke-linejoin: round;
}

path {
	stroke: black;
	stroke-width: .5px;
	shape-rendering: cripsEdges
}